

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
  a,
  a:hover {
    text-decoration: none;
  }
  :root {
    --pink: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2c3038;
    --text-color: #5a5a5a;
  }
  
  .theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
  }
  .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
  }
  .btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
  }
  .btn-primary:focus,
  .btn-primary.focus {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5);
  }
  
  .header-section {
    max-width: 750px;
    margin: 0 auto;
  }
  
  .header-section p {
    max-width: 750px;
    margin: 0 auto;
    font-size: 17px;
  }
  .h6-common {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--pink);
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
  }
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .navbar .navbar-brand {
    font-size: 27px;
    font-weight: 800;
    color: var(--pink);
    letter-spacing: -1px;
  }
  .navbar .navbar-brand:hover {
    opacity: 0.95;
  }
  
  .navbar .navbar-brand i {
    display: inline-block;
    color: var(--pink);
    font-size: 27px;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    position: relative;
    transition: all 0.5s ease;
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--title-color);
    font-size: 17px;
    font-weight: 400;
    position: relative;
  }
  .navbar-nav .nav-item .nav-link:hover {
    color: var(--pink);
  }
  nav#breadcrumbs {
    padding: 15px 20px;
    background: #f7f9fc;
}
.page-wrapper {
  color: #2c3038;
  font-size: 14px;
}
nav#breadcrumbs a {
  color: #dc4f72;
  margin: 0 5px 0 0;
  font-size: 14px;
}
.header-section h2 {
  color: #2c3038;
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
}
.w3l-about1 .cwp4-text h3 {
  font-size: 36px;
  line-height: 44px;
  color: #2c3038;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 600;
}
.w3l-about1 .cwp4-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin: 15px 0 35px 0;
}
.w3l-about1 .cwp4-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #5a5a5a;
  margin: 15px 0;
  font-weight: 600;
}
ul {
  list-style: none;
  }
.w31-about1 .cont-4 i {
  color: #dc4f72;
  margin-right: 12px;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.w3l-about1 .cwp4-text {
  align-self: center;
}
.w3l-about1 .cwp4-two img {
  border-radius: 5px;
}
img, svg {
  vertical-align: middle;
  border-style: none;
}
img.img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}
.w3l-about1 ul.cont-4 li i {
  color: #dc4f72;
  margin-right: 12px;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.w3l-about2 .features h5 {
  font-size: 26px;
  line-height: 32px;
  color: #2c3038;
  font-weight: 700;
}
.w3l-about2 p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 16px;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.bott-img {
  width: 100%;
  height: 250px;
  margin: 0px 0;
  text-align: center;
  transition: all 0.3s ease;
  padding: 0 30px;
}
.bott-img .icon-holder > .service-icon {
  line-height: 70px;
}
.bott-img .icon-holder {
  position: relative;
  top: 60px;
  display: inline-block;
  margin-bottom: 68px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #fff;
  font-size: 26px;
  background-color: #dc4f72;
}
.bott-img .mission {
  position: relative;
  top: 10px;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #000;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: #2c3038;
}
.description p {
  color: #2c3038;
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description a {
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  color: #dc4f72;
}



.elite-services1, .elite-services2, .elite-services3, .elite-services4 {
  background: #fff;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
}

.w3l-about4 .middle-section {
  max-width: 950px;
  margin: 0 auto;
}
.w3l-about4 .history-info {
  max-width: 700px;
  margin: 0 auto;
}
.w3l-about4 img.video-popup-image {
  box-shadow: var(--card-box-shadow);
}
.w3l-about4 .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.w3l-about4 span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}
.w3l-about4 span.fa.fa-play {
  line-height: 55px;
  color: #BA254A;
}