

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  :root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --card-curve: 6px;
    --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
  a,
  a:hover {
    text-decoration: none;
  }
  :root {
    --pink: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2c3038;
    --text-color: #5a5a5a;
  }
  
  .theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
  }
  .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
  }
  .btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
  }
  .btn-primary:focus,
  .btn-primary.focus {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5);
  }
  
  .header-section {
    max-width: 750px;
    margin: 0 auto;
  }
  
  .header-section p {
    max-width: 750px;
    margin: 0 auto;
    font-size: 17px;
  }
  .h6-common {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--pink);
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
  }
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .navbar .navbar-brand {
    font-size: 27px;
    font-weight: 800;
    color: var(--pink);
    letter-spacing: -1px;
  }
  .navbar .navbar-brand:hover {
    opacity: 0.95;
  }
  
  .navbar .navbar-brand i {
    display: inline-block;
    color: var(--pink);
    font-size: 27px;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    position: relative;
    transition: all 0.5s ease;
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--title-color);
    font-size: 17px;
    font-weight: 400;
    position: relative;
  }
  .navbar-nav .nav-item .nav-link:hover {
    color: var(--pink);
  }
  nav#breadcrumbs {
    padding: 15px 20px;
    background: #f7f9fc;
}
.page-wrapper {
  color: #2c3038;
  font-size: 14px;
}
nav#breadcrumbs a {
  color: #dc4f72;
  margin: 0 5px 0 0;
  font-size: 14px;
}
.header-section h2 {
  color: #2c3038;
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
}
.w3l-about1 .cwp4-text h3 {
  font-size: 36px;
  line-height: 44px;
  color: #2c3038;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 600;
}
.w3l-about1 .cwp4-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin: 15px 0 35px 0;
}
.w3l-about1 .cwp4-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #5a5a5a;
  margin: 15px 0;
  font-weight: 600;
}
ul {
  list-style: none;
  }
.w31-about1 .cont-4 i {
  color: #dc4f72;
  margin-right: 12px;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.w3l-about1 .cwp4-text {
  align-self: center;
}
.w3l-about1 .cwp4-two img {
  border-radius: 5px;
}
img, svg {
  vertical-align: middle;
  border-style: none;
}
img.img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}
.w3l-about1 ul.cont-4 li i {
  color: #dc4f72;
  margin-right: 12px;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.w3l-about2 .features h5 {
  font-size: 26px;
  line-height: 32px;
  color: #2c3038;
  font-weight: 700;
}
.w3l-about2 p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 16px;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.bott-img {
  width: 100%;
  height: 250px;
  margin: 0px 0;
  text-align: center;
  transition: all 0.3s ease;
  padding: 0 30px;
}
.bott-img:hover {
  padding: 0 30px; 
}
.bott-img .icon-holder {
  position: relative;
  top: 60px;
  display: inline-block;
  margin-bottom: 68px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #fff;
  font-size: 26px;
  background-color: #dc4f72;
}
.bott-img .mission {
  position: relative;
  top: 10px;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #000;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: var(--title-color); 
}
.bott-img .description {
  margin: -6em auto 0;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0); }
  .description .agileits .w3layouts p {
    margin: 2em;
    color: var(--title-color); 
  }

    .bott-img .icon-holder > .service-icon {
      line-height: 70px;
    }
    .bott-img:hover .icon-holder {
      top: -40px;
      background: var(--primary); 
    }
      .bott-img:hover .mission {
        top: -80px; 
      }
      .bott-img:hover .description {
        opacity: 1;
        transform: scale(1);
        font-size: 14px;
        line-height: 2.2em; }
      bott-img:hover .description a {
        top: -60px; }
      
      
.description p {
  color: #2c3038;
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description a {
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  color: #dc4f72;
}
.description a:hover {
  text-decoration: underline;
 }

.elite-services1, .elite-services2, .elite-services3, .elite-services4 {
  background: #fff;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
}

.w3l-about4 .middle-section {
  max-width: 950px;
  margin: 0 auto;
}
.w3l-about4 .section-width p {
  color: var(--text-color);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400; 
}
.w3l-about4 .history-info {
  max-width: 700px;
  margin: 0 auto;
}
.w3l-about4 img.video-popup-image {
  box-shadow: var(--card-box-shadow);
}
.w3l-about4 .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.w3l-about4 span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}
.w3l-about4 img.video-popup-image {
  box-shadow: var(--card-box-shadow); 
}
.w3l-about4 span.video-play-icon span {
  color: var(--primary-color);
 }
 .w3l-about4 span.video-play-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out; 
}


.w3l-about4 span.fa.fa-play {
  line-height: 55px;
  color: #BA254A;
}
.w3l-about4 .history-info {
  max-width: 700px;
  margin: 0 auto; 
}
  .w3l-about4 .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
   }

   .w3l-customers .logo-view img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: 0.3s ease;
    padding: 1.5rem 2rem; }
    .w3l-customers .logo-view img:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      transition: 0.3s ease; 
    }
    .w3l-team .team {
      background: var(--light-bg-color); 
    }
    
    .w3l-team .team-info {
      transition: 0.3s ease-in-out;
    }
    .w3l-team .team-info:hover {
      box-shadow: var(--card-box-shadow);
      transform: var(--transformY);
      transition: 0.3s ease-in-out; 
    }
    .w3l-team .img-circle {
      width: 100%;
      height: 250px;
      display: inline-block;
      overflow: hidden;
      background: #f3f6f9; 
    }
    .w3l-team .img-circle a {
      display: block; 
    }
    .w3l-team .img-circle img {
      width: 100%;
      min-height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      display: block; 
    }
   
    .w3l-team .team-info p {
      font-size: 16px;
      line-height: 24px;
      color: #5a5a5a;
      margin: 2px 0px 14px; 
    }

    .w3l-team h3.name-pos a {
      font-size: 22px;
      line-height: 26px;
      color: #2c3038;
      font-weight: 700; 
    }
    .w3l-team .team-info:hover h3.name-pos a {
      color: #dc4f72;
      transition: 0.3s ease; 
    }
    .w3l-team .column-btm {
      padding: 16px;
      background: #fff;
      border-radius: 0 0 6px 6px;
      border: 1px solid #eee;
      border-top: none;
      margin-top: -6px;
     }
     .w3l-team .column a img {
      display: block;
      border-radius: 6px 6px 0 0; 
    }
    .w3l-team .social a {
      display: inline-block;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
     }
     .w3l-team .social a i {
      font-size: 12px;
      line-height: 30px;
      display: block; 
    }
    .w3l-team .social a.facebook {
      background: #3b5998;
     }
     .w3l-team .social a.facebook i {
      color: #fff; 
    }
    .w3l-team .social a.twitter {
      background: #1da1f2;
    }
    .w3l-team .social a.twitter i {
      color: #fff;
    }

    .w3l-footer .w3l-footer-16-main.py-5 {
      background: #f7f9fc;
  }

    .w3l-footer .w3l-footer-16-main h3 {
      font-size: 20px;
      line-height: 25px;
      color: #2c3038;
      margin-bottom: 30px;
      font-weight: 700;
  }

  .w3l-footer .footer-gd-16 li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

  .w3l-footer .footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}
.w3l-footer .w3l-footer-16-main p {
  line-height: 22px;
  color: #5a5a5a;
  font-size: 16px;
}
.w3l-footer .w3l-footer-16-main h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500; 
}
.w3l-footer .end-column {
  background-color: #fff;
  padding: 2em;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
}
.w3l-footer .w3l-footer-16-main h3 a:hover,
.w3l-footer .footer-gd-16 li a:hover,
.w3l-footer .w3l-footer-16-main p a:hover {
  opacity: 0.8;
  color: var(--primary); }
.w3l-footer form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.w3l-footer .subscribe input[type="email"] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  border-radius: var(--card-curve);
}

.w3l-footer .subscribe button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: var(--card-curve);
}
.w3l-footer .subscribe button:hover {
  transition: all .5s ease;
 }
 .w3l-footer .subscribe button img {
  vertical-align: middle; 
}
.w3l-footer .w3l-footer-16-main p a {
  color: #2c3038;
}
.w3l-footer ul.social li {
display: inline-block;
margin: 15px;
}
.w3l-footer ul.social li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.w3l-footer ul.social li a:hover {
  color: #dc4f72;
  transition: 0.3s ease; 
}
.w3l-footer ul.social li a i {
  font-size: 15px;
  line-height: 36px;
}