

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
  a,
  a:hover {
    text-decoration: none;
  }
  :root {
    --pink: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2c3038;
    --text-color: #5a5a5a;
  }
  
  .theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
  }
  .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
  }
  .btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
  }
  .btn-primary:focus,
  .btn-primary.focus {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5);
  }
  
  .header-section {
    max-width: 750px;
    margin: 0 auto;
  }
  
  .header-section p {
    max-width: 750px;
    margin: 0 auto;
    font-size: 17px;
  }
  .h6-common {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--pink);
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
  }
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .navbar .navbar-brand {
    font-size: 27px;
    font-weight: 800;
    color: var(--pink);
    letter-spacing: -1px;
  }
  .navbar .navbar-brand:hover {
    opacity: 0.95;
  }
  
  .navbar .navbar-brand i {
    display: inline-block;
    color: var(--pink);
    font-size: 27px;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    position: relative;
    transition: all 0.5s ease;
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--title-color);
    font-size: 17px;
    font-weight: 400;
    position: relative;
  }
  .navbar-nav .nav-item .nav-link:hover {
    color: var(--pink);
  }
